.project_wrap {
  border-top: 1px solid rgb(201, 201, 201);
}

.project_wrap:last-of-type {
  border-bottom: 1px solid rgb(201, 201, 201);
}

.project_wrap:hover {
  opacity: 0.5;
  transition: all 0.5s;
}
.project_title {
  transition: all 0.5s;
}

.project_wrap:hover .project_title {
  transform: translateX(-10px);
}

.project_subtitle {
  transition: all 0.5s;
}
.project_wrap:hover .project_subtitle {
  transform: translateX(10px);
}

.project_title {
  font-size: 4rem;
  font-weight: 500;
}

.project_subtitle {
  font-size: 1rem;
}
