.modal_contain {
  height: 350px;
  width: 400px;
  position: absolute;
  background-color: white;
  overflow: hidden;
  pointer-events: none;
}

.modal_slider {
  height: 100%;
  width: 100%;
  position: absolute;
  transition: top 0.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.modal_wrap {
  height: 100%;
  width: 100%;
}

.modal_wrap img {
  height: auto;
}
